In [2]:
# Imports
import pandas as pd
import numpy as np
import math
import geopandas as gpd
%matplotlib inline
import matplotlib.pyplot as plt

# Submetric: Parks Dataset
I chose the Parks dataset because in case of a zombie apocalypse, having more parks means that you have more space to hide/avoid zombies. 

Therefore, my goal is to find out how many parks are in each neighborhood because having more parks would mean there is space to hide or avoid the zombies.

In [29]:
#Reading in csv file
parks = pd.read_csv("Dataset for Parks.csv")
parks.head(5)

,id,name,type,maintenance_responsibility,image,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,2111959181,Able Long Park,Park,Parks - Southern,https://tools.wprdc.org/images/pittsburgh/park...,Beechview,4,19,42003192000,5,19,6,4-28,40.408118,-80.028197
1,1109513049,Albert Turk Graham Park,Park,Parks - Schenley,https://tools.wprdc.org/images/pittsburgh/park...,Crawford-Roberts,6,3,42003030500,3,3,2,2-1,40.440507,-79.984018
2,1544096765,Alcoa Park,Park,Parks - Northern,NaN,North Shore,1,22,42003563200,6,22,1,1-20,40.447481,-80.001017
3,1212681573,Allegheny Commons,Park,Parks - Northern,NaN,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.453126,-80.009158
4,954863286,Allegheny Landing Park,Park,Parks - Northern,NaN,North Shore,1,22,42003563200,6,22,1,1-20,40.447184,-80.002907

Above, is the table for the parks dataset.

Now, I will find out how many parks are in a each neighborhood by using a dictionary.

In [14]:
dictionary = dict()

for column in parks:
    looping = parks['neighborhood'].values

for value in looping: 
    if value not in dictionary:
            dictionary[value] = 1
    else:
        dictionary[value] = dictionary[value] + 1 

print(dictionary)

{'Beechview': 8, 'Crawford-Roberts': 3, 'North Shore': 3, 'Allegheny Center': 2, 'Central Business District': 10, 'Central Northside': 3, 'East Liberty': 12, 'Bedford Dwellings': 1, 'South Side Slopes': 7, 'South Side Flats': 6, 'Lower Lawrenceville': 3, 'Banksville': 2, 'South Oakland': 5, 'Homewood North': 2, 'Hazelwood': 6, 'Bon Air': 1, 'Central Oakland': 4, 'Brighton Heights': 4, 'Brookline': 3, 'Spring Garden': 2, 'Lincoln-Lemington-Belmar': 3, 'Windgap': 1, 'Troy Hill': 5, 'Westwood': 3, 'Perry South': 2, 'Homewood West': 1, 'Squirrel Hill South': 6, 'Strip District': 2, 'Arlington': 1, 'Stanton Heights': 1, 'Crafton Heights': 2, 'Upper Lawrenceville': 3, 'East Carnegie': 1, 'East Hills': 1, 'Point Breeze': 7, 'Allentown': 2, 'Duquesne Heights': 2, 'Mount Washington': 6, 'Esplen': 1, 'Fairywood': 1, 'Fineview': 2, 'Garfield': 3, 'Greenfield': 3, 'Larimer': 3, 'Bloomfield': 3, 'Perry North': 2, 'North Oakland': 1, 'Hays': 1, 'Elliott': 4, 'Highland Park': 2, 'Homewood South': 1, 'Morningside': 1, 'Terrace Village': 2, 'Spring Hill-City View': 3, 'Carrick': 3, 'Central Lawrenceville': 1, 'Lincoln Place': 2, 'Manchester': 3, 'Marshall-Shadeland': 4, 'Sheraden': 6, 'Beltzhoover': 3, 'Point Breeze North': 3, 'Oakwood': 1, 'Polish Hill': 2, 'Regent Square': 1, 'Upper Hill': 1, 'New Homestead': 1, 'West Oakland': 1, 'Swisshelm Park': 3, 'Bluff': 1, 'Middle Hill': 1, 'West End': 2, 'Squirrel Hill North': 1}

This is showing how many times a neighborhood was mentioned in showing how parks were in each neighborhood. The for loop is going through the parks dataset and taking all the values ........

In [31]:
#parks.groupby("neighborhood").count()
Trying to turn above into a graph

ValueError: If using all scalar values, you must pass an index

In [28]:
parks.pivot(columns="neighborhood", values="name").head()

neighborhood,Allegheny Center,Allentown,Arlington,Banksville,Bedford Dwellings,Beechview,Beltzhoover,Bloomfield,Bluff,Bon Air,...,Strip District,Swisshelm Park,Terrace Village,Troy Hill,Upper Hill,Upper Lawrenceville,West End,West Oakland,Westwood,Windgap
0,NaN,NaN,NaN,NaN,NaN,Able Long Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Allegheny Commons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN